{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-0 col-sm-2 col-md-4"></div>
    <div class="col-12 col-sm-8 col-md-4">
        <h4>Edit event</h4>
        <form action="{{ url_for('edit_event', event_id=event_id) }}" method="post">
            {{ form.hidden_tag() }}

            <p>
                {{ form.name.label }}<br>
                {{ form.name }}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description }}
            </p>

            <p>
                {{ form.startDate.label }}<br>
                {{ form.startDate }}
            </p>
            <p>
                {{ form.endDate.label }}<br>
                {{ form.endDate }}
            </p>
            <p>
                {{ form.url.label }}<br>
                {{ form.url }}
            </p>

            <div class="right-align">{{ form.submit() }}</div>
        </form>
    </div>
    <div class="col-0 col-sm-2 col-md-4"></div>
</div>
{% endblock %}
