{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-0 col-sm-1 col-md-1"></div>
    <div class="col-12 col-sm-10 col-md-10">
        <div class="main-container">
            <div class="events-content">
                {% for event in events %}
                    <a href="{{ url_for('show_event', event_id=event.id) }}">
                        <div class="event-card">
                            <img class="event-card-img" src="{{ url_for('static', filename='texture.jpg') }}" />

                            <h3 class="event-card-title">{{ event.name }}</h3>
                            <p>
                                {{ event.description }}
                            </p>

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-md-1"></div>
</div>
{% endblock %}