{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-0 col-sm-1 col-md-3"></div>
    <div class="col-12 col-sm-10 col-md-6 padding-32">
        <h4>Register</h4>
        <form action="/user/new" method="post">
            {{ form.hidden_tag() }}

            <p>
                {{ form.email.label }}<br>
                {{ form.email }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}
            </p>
            <p>
                {{ message }}
            </p>

            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}

            <div class="right-align">{{ form.submit() }}</div>
        </form>
    </div>
    <div class="col-0 col-sm-1 col-md-3"></div>
</div>
{% endblock %}