{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-0 col-sm-1 col-md-3"></div>
    <div class="col-12 col-sm-10 col-md-6 padding-32">
        <div class="main-container">
            <form action="/new" method="post">
                {{ form.hidden_tag() }}

                <div class="form-input">
                    <strong>{{ form.name.label }}</strong><br>
                    {{ form.name }}
                </div>

                <div class="form-input">
                    <strong>{{ form.description.label }}</strong><br>
                    {{ form.description }}
                </div>

                <div class="date-container gap-8">
                    <div class="date-input">
                        <strong>{{ form.startDate.label }}</strong><br>
                        {{ form.startDate }}
                    </div>
                    <div class="date-input">
                        <strong>{{ form.endDate.label }}</strong><br>
                        {{ form.endDate }}
                    </div>
                </div>

                <div class="form-input">
                    <strong>{{ form.url.label }}</strong><br>
                    {{ form.url }}
                </div>

                <div class="form-input justify-flex gap-8">
                    <button class="btn-disabled" disabled>Save draft</button>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-md-3"></div>
</div>
{% endblock %}