@import url('https://fonts.googleapis.com/css2?family=Knewave&family=League+Spartan:wght@200;400;500;600;700&display=swap');

body {
  background: #8080ff;
  color: white;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-family: 'Knewave', sans-serif;
  font-size: 52pt;
}

h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
}

h4 {
  font-size: 20pt;
}

input {
  color: black;
  font-family: inherit;
  border: 0;
  border-radius: 2px;
  padding: 4px 8px;
  width: 100%;
}

input[type=submit] {
  font-family: inherit;
  font-weight: bold;
  font-size: 18pt;
  padding: 8px;
  margin-top: 16px;
  color: white;
  background: #cea4ff;
  width: 180px;
}

textarea {
  padding: 4px 8px;
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 180px;
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  color: #8cf4b9 !important;
  text-decoration: none !important;
}

a:active, a:hover {
  color: #d4f4b0 !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 16pt;
  font-weight: bold;
}

.title, .title:hover, .title:active, .title:visited {
  color: white !important;
}

.margin-bottom {
  margin-bottom: 40px;
}

.padding-32 {
  padding: 32px;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-align {
  text-align: right;
}