@import url('https://fonts.googleapis.com/css2?family=Knewave&family=League+Spartan:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
  /*background: rgba(94,96,206,1);*/
  /*
    background: linear-gradient(25deg, rgba(116,0,184,1) 1%, rgba(105,48,195,1) 9%, rgba(94,96,206,1) 21%, rgba(83,144,217,1) 49%, rgba(78,168,222,1) 58%, rgba(72,191,227,1) 67%, rgba(86,207,225,1) 75%, rgba(100,223,223,1) 86%, rgba(114,239,221,1) 99%);
    background: linear-gradient(51deg, rgba(116,0,184,1) 1%, rgba(105,48,195,1) 9%, rgba(94,96,206,1) 21%, rgba(83,144,217,1) 54%, rgba(78,168,222,1) 64%, rgba(72,191,227,1) 74%, rgba(86,207,225,1) 81%, rgba(100,223,223,1) 88%, rgba(114,239,221,1) 99%);
  */
  /*
    background: linear-gradient(73deg, rgba(116,0,184,1) 1%, rgba(105,48,195,1) 9%, rgba(94,96,206,1) 21%, rgba(83,144,217,1) 54%, rgba(78,168,222,1) 64%, rgba(72,191,227,1) 74%, rgba(86,207,225,1) 81%, rgba(100,223,223,1) 88%, rgba(114,239,221,1) 99%);
   */
  /*background: #8A95FF;*/
  /*background: rgb(139, 127, 254);*/
  /*background: rgb(142, 152, 251);*/

  /* HEATHER BLUE GRADIENT BACKGROUND */
  background: rgb(170,178,255);
  background: linear-gradient(203deg, rgba(170,178,255,1) 0%, rgba(115,128,255,1) 63%);

  /* BLACK GRADIENT BACKGROUND
  background: rgb(57,59,77);
  background: linear-gradient(196deg, rgba(57,59,77,1) 0%, rgba(0,0,0,1) 63%);
  */

  background-attachment: fixed;
  color: white;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-family: 'Knewave', sans-serif;
  font-size: 52pt;
  /*color: #909bff;*/
  filter: drop-shadow(0 0 10px rgba(31, 38, 135, 0.37));
  /*color: rgb(243, 242, 254);*/
  /*color: rgb(142, 152, 251);*/
  color: black;
}

h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
}

h4 {
  font-size: 20pt;
}

input {
  color: black;
  font-family: inherit;
  border: 0;
  border-radius: 2px;
  padding: 4px 8px;
  width: 100%;
}

input[type=submit] {
  font-family: inherit;
  font-weight: bold;
  font-size: 18pt;
  padding: 8px;
  margin-top: 16px;
  color: white;
  background: #cea4ff;
  width: 180px;
}

textarea {
  padding: 4px 8px;
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 180px;
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  color: #8cf4b9 !important;
  text-decoration: none !important;
}

a:active, a:hover {
  color: #d4f4b0 !important;
}

a.new {
  color: #78EFA8 !important;
  /*color: #d4f4b0 !important;*/
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 16px;
  font-size: 16pt;
  font-weight: bold;
}

img.card-img {
  width: 90%;
  height: 160px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.app-content-container {
  /*border: 24px solid transparent;*/
  width: 100%;
  margin: 0;
  padding: 24px;
  color: white;
}

.title, .title:hover, .title:active, .title:visited {
  color: white !important;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}

@keyframes search-expand {
  from {
    height: 96px;
  }

  to {
    height:67%;
  }
}

.title-container, .search-menu-container {
  flex: 10 0 auto;
}

.search-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.menu-container {
  width: 40px;
  height: 40px;
  color: white;
  font-size: 18pt;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-container {
  font-size: 28pt;
  flex: 0 0 64px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.padding-32 {
  padding: 32px;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-align {
  text-align: right;
}

.no-btn {
  border: 0;
  background: transparent;
  color: transparent;
}

.summon-navbar {
  width: 100%;
  height: 112px;
  /*background: black;*/
  /*background: rgb(219, 169, 46);*/
  /*border-bottom: 4px solid rgb(140, 51, 0);*/
  /*background: #8CF4B9;*/
  /*border-top: 4px solid #8CF4B9;
  border-bottom: 4px solid #8CF4B9;*/
  /*border: 0;*/
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-ul {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-li {
  margin: 8px;
  padding: 12px;
  /*background: rgba(255, 255, 255, 0.7);*/
  /*background: #CFE5D8;*/
  /*border: 4px solid #D4F4B0;*/
  /*color: rgb(142, 152, 251);*/
  color: white;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 24pt;
  /*background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.24);*/
}

.navbar-li-active {
  margin: 8px;
  padding: 12px;
  /*color: #cdff94;*/
  color: #65ffa8;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 24pt;
}

.navbar-search {
  margin-top: -6px;
  width: 112px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content:  flex-end;
  /*border-bottom: 2px solid #bfff76;*/
  font-size: 14pt;
  padding: 8px;
}

.navbar-search, .navbar-mini-btn {
  /*color: #412ab4;*/
  /*color: #78EFA8;*/
  /*color: #bfff76;*/
  color: white;
  font-weight: 600;
  margin: 4px;
}

.navbar-mini-btn {
  width: 40px;
  height: 40px;
  font-size: 20pt;
}

.menu-item {
  /*padding: 14px 10px 10px 10px;*/
  height: 100%;
}

.event-card {
  background: white;
  width: 86vw;
  max-width: 400px;
}

.event-card-title {
  color: black;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 67%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.search-input-submit {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.search-input {
  height: 40px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  filter: drop-shadow(0 0 15px white);
  font-weight: 600;
}

.search-submit {
  width: 40px;
  height: 40px;
  color: white;
  border: 0;
  background: #ff9e2c;
  border-radius: 3px;
  filter: drop-shadow(0 0 15px white);
}

.fa-glass {
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
}

.white-glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.black-glass {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.border-radius {
  border-radius: 6px;
}

#eventModal {
  background: rgba(255, 255, 255, 0.7);
  display: none;
}

#searchModal {
  display: none;
}

@media (max-width: 1000px) {
  .summon-navbar {
    justify-content: center;
  }

  .navbar-ul {
    width: 70%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 28pt;
  }

  .padding-32 {
    padding: 16px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .summon-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
  }

  .navbar-ul {
    width: 100%;
  }
}